@media (hover: none) {
  #page2 div{
    box-shadow:0 0 10px -5px var(--clr-primary-600);
  }
  #page5 div{
    box-shadow:0 0 12px -5px var(--clr-primary-700);
  }
}


@media screen and (min-width: 1445px) {

}

@media screen and (max-width: 1250px) {
  #page1{
    flex-direction: row;
    gap: 5vw;
  }
}


@media screen and (max-width: 980px) {
  #page1{
    flex-direction: column;
    gap: 3vh;
  }
  #page1 > div{
    max-height: fit-content;
    width: 90%;
    margin: 0 auto;
    padding: .5em 1em;
    text-align: center;
  }
  #page2{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #page2 div{
    gap: 2vh;
    display: grid;
    place-items: center;
    text-align: center;
  }
  #page2 div:hover{
    transform: scale(1.15);
  }
  #page4 img{
    width: 100%;
  }
  #page5{
    margin: 5vw auto;
  }
}



@media screen and (max-width: 450px) {
  body{
    width: 100vw;
  }
  aside{
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  #search-bar{
    top: 0.5rem;
    margin-left: 1rem;
  }
  #brand > img{
    height: calc(46px / 1.5);
    width: calc(110px / 1.5);
  }
  #show-side-bar > #show-side-bar-btn{
    font-size: calc(clamp(2rem, 2vw, 7rem) / 1.25);
  }
  #page5{
    display: grid;
  }
}

@media screen and (max-width: 350px) {
  #page4 p{
    right: -.5rem;
  }
}