@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

  /* font-sizes */
  --page-title: 36px;
  --main-title: 30px;
  --title: 24px;
  --sous-title: 18px;
  --text: 16px;
  --sous-text: 14px;
  --min-text: 12px;

  /* font-weight */
  --main-weight: 700;
  --weight: 500;
  --min-weight: 400;
  --extra-min-weight: 300;

  /* colors */
  --clr-background: rgba(179, 207, 226, 0.2);
  --clr-font: #272727;
  --clr-black-low: #4c4c4c;
  --clr-white-low: #dfdfdf;
  --clr-primary-400: #ffaa99;
  --clr-primary-500: #f5f3f4;
  --clr-primary-600: #272727;
  --clr-primary-700: #40916c;
  --clr-primary-800: #ffff01;
  --clr-primary-900: #ff1111;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: inset 0 0 12px -1px var(--clr-primary-700);
}



*{
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}


html{
  scroll-behavior: smooth;
  position: relative;
  filter: brightness(.95);
}


body{
  margin: 0 auto;
  background-color: var(--clr-background);
  width: min(90vw, 90rem);
  /* overflow-x: hidden; */
  transition: 0.75s all ease;
}




#up_btn{
  display: flex;
  position: fixed;
  right: .5rem;
  bottom: 1rem;
  font-size: 2rem;
  z-index: 99;
}

#up_btn a{
  color: var(--clr-font);
}


aside{
  display: none;
  inset: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--clr-background);
  z-index: 99999;
  max-height: 100vh;
  transition: 0.75s ease all;
}




#switch_theme{
  display: flex;
  position: relative;
  margin-top: .75rem;
  height: fit-content;
  width: fit-content;
  padding: 0.25em;
  background-color: transparent;
  border: none;
  font-size: clamp(2rem, 3vw, 7.5rem);
  cursor: pointer;
  color: var(--clr-font);
  background-color: transparent;
  transition: all 0.4s ease-out;
}

#switch_theme::before{
  content: '';
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-radius: 15px;
  background-color: var(--clr-black-low);
  transition: all ease 0.4s;
  opacity: 0;
}

#switch_theme:hover::before,
#switch_theme:focus-visible::before{
  animation: background_hover 0.3s ease forwards;
}


@keyframes background_hover {
  0%{
    opacity: 0;
    height: 0;
    width: 0;
  }
  1%{
    opacity: 0;
    height: 30%;
    width: 30%;
  }
  100%{
    width: 100%;
    height: 100%;
    opacity: .5;
  }
}

aside #center{
  margin: 0 auto;
  width: fit-content;
  height: 100vh;
  display: grid;
}

aside #title{
  /* font-size: calc(var(--main-title) + 2vw); */
  display: grid;
  place-items: center;
  transform: translateY(-20%);
  font-size: clamp(3rem, 4vw, 10rem);
  font-weight: var(--main-weight);
  color: var(--clr-font);
  filter: drop-shadow(10px 20px 5px var(--light-black));
}

aside #title h1{
  width: fit-content;
  cursor: pointer;
  transition: all ease 0.3s;
}

aside #title h1:hover{
  transform: scale(1.2);
}


aside #nav{
  transform: translateY(-10%);
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: var(--min-weight);
}

aside #nav ul{
  margin-top: -1rem;
  display: grid;
  place-items: center;
  list-style: none;
}

aside #nav ul li{
  margin-top: 2rem;
  width: fit-content;
  transition: all ease 0.3s;
}

aside #nav ul li:hover{
  transform: scale(1.5);
}

aside #nav ul li a{
  color: var(--clr-font);
  filter: drop-shadow(5px 10px 2px var(--light-black));
}


aside #hide-side-bar #hide-side-bar-btn{
  display: flex;
  margin-top: 1rem;
  margin-left: auto;
  font-size: clamp(2rem, 3vw, 7.5rem);
  background-color: transparent;
  border: none;
  color: var(--clr-primary-900);
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px var(--light-black));
  transition: all ease 0.3s;
}

aside #hide-side-bar:hover #hide-side-bar-btn{
  transform: scale(1.25);
}







/* header */

header{
  display: flex;
  justify-content: space-between;
  padding: 2vw 4vw;
  position: relative;
}

#brand{
  display: grid;
  grid-auto-flow: column;
  gap: 1vw;
}

#brand > img{
  margin-top: 0.25rem;
  height: calc(46px - .5vw);
  width: calc(110px - 1vw);
}

#show-side-bar > #show-side-bar-btn{
  background-color: transparent;
  border: none;
  font-size: clamp(2rem, 2vw, 7rem);
  color: var(--clr-font);
  cursor: pointer;
  transition: all ease 0.3s;
}
#show-side-bar > #show-side-bar-btn:hover{
  transform: scale(1.2);
}

#search-bar{
  display: grid;
  grid-auto-flow: column;
  gap: 0.25em;
  position: absolute;
  top: max(2vw, 1rem);
  left: 52.5%;
  width: max(20vw, 10rem);
  height: clamp(2rem, 3vw, 3rem);
  transform: translateX(-50%);
  background-color: var(--clr-primary-500);
  border: solid var(--clr-font) 1px;
  box-shadow: 0 0 10px -4px var(--clr-font);
  padding: 0.25em;
  border-radius: 5px;
}

.search-input{
  border: none;
  outline: none;
  background-color: transparent;
  font-size:  min(2.5vw, 1.1rem);
  font-weight: var(--main-weight);
  width: calc(100% + 3vw);
  color: var(--clr-black-low);
}

.search-btn{
  border: none;
  background-color: transparent;
  padding-top: 3%;
  margin-left: 3.5vw;
  cursor: pointer;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: var(--weight);
  color: var(--white);
}






/* main */

main{
  display: grid;
  place-items: center;
  height: fit-content;
  margin: 0 auto;
  margin-top: 10vh;
}

#page1{
  display: flex;
  justify-content: space-around;
}

#page1 > div{
  max-height: min-content;
  width: 30%;
  min-height: 15vh;
  font-size: clamp(1rem, 1vw, 3rem);
  font-weight: var(--extra-min-weight);
}

#page1 > div > h2{
  color: var(--clr-primary-900);
  font-weight: var(--weight);
  margin: 1rem 2rem;
}

.page1-box1{
  color: var(--clr-font);
}

.page1-box2{
  color: var(--clr-font);
}

.page1-box3{
  position: relative;
  color: var(--clr-font);
}

.page1-box3 img{
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}





#page2{
  margin: 20vh auto;
  display: flex;
  justify-content: space-between;
  gap: clamp(1rem, 7vw, 5rem);
  width: fit-content;
}

#page2 div{
  display: flex;
  gap: clamp(.5rem, 2vw, 1rem);
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.3s ease-out all;
}

#page2 div:hover{
  box-shadow:0 0 12px -5px var(--clr-primary-700);
  transform: scale(1.25);
}

#page2 div span{
  color: var(--clr-font);
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  cursor: default;
}

#page2 div a{
  color:  var(--clr-primary-700);
  font-size: clamp(1rem, 1vw, 1.5rem);
  cursor: pointer;
}


#page3{
  display: grid;
  margin: 3vh auto;
  margin-bottom: 30vh;
  padding: 2rem;
}

#page3 h2{
  padding: 0.125em 0.2em;
  background-color: var(--clr-primary-900);
  width: fit-content;
  margin: 2rem;
  margin-left: 7%;
  font-size: clamp(2rem, 2vw, 5rem);
  color: var(--clr-primary-500);
}

#page3 p{
  margin-left: 13%;
  color: var(--clr-font);
  font-size: clamp(1rem, 1vw, 3rem);
  font-weight: var(--min-weight);
}



#page4{
  padding: 0;
  margin: 4vh auto;
  display: grid;
  position: relative;
}

#page4 p{
  position: absolute;
  right: .5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 10em;
  font-size: clamp(1rem, 2vw, 10rem);
  color: var(--clr-primary-500);
  transition: .3s ease-out all;
}

#page4:hover p{
  right: 2rem;
}

#page4 p a{
  font-size: clamp(1.25rem, 2.25vw, 11rem);
  color: var(--clr-primary-500);
  transition: 0.3s ease all;
}

#page4 p a:hover,
#page4 p a:focus-visible{
  text-decoration: underline;
}

#page4 img{
  height: fit-content;
  width: min(90vw, 90rem);
}




#page5{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5vh auto;
  justify-content: space-around;
}


#page5 div{
  margin: 10vh 0;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.3s ease-out all;
}

#page5 div:hover{
  box-shadow:0 0 12px -5px var(--clr-primary-700);
  transform: scale(1.25);
}

#page5 div a{
  color: var(--clr-primary-700);
  font-size: clamp(1rem, 2vw, 3rem);
}





#page6{
  width: 100%;
  display: grid;
  margin: 4vh 0;
  text-align: center;
}

#page6 h3{
  margin: 3rem;
  color: var(--clr-font);
}

#page6 ul{
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  max-width: 100%;
  height: fit-content;
  list-style: none;
  margin: 0 auto;
  transform: translateX(-5%);
}

#page6 li{
  display: flex;
  max-width: 5rem;
  height: 10rem;
  position: relative;
  margin: 0 4rem;
}

#page6 li img{
  position: absolute;
  inset: 0;
}




footer{
  margin-top: 20vh;
  min-height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

footer div{
  padding: 2rem;
}

footer div ul{
  list-style: none;
}

footer div ul li{
  font-size: clamp(1rem, 1.1vw, 2rem);
  transition: .3s ease-out all;
}

footer div ul li a{
  color: red;
}

footer div ul li a:hover,
footer div ul li a:focus-visible{
  text-decoration: underline;
}
